.login__form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding-top: 20px;
}
.form__inputs {
    display: flex;
    flex-direction: column;
}
.form__inputs input {
    margin-bottom: 10px;
}
.form__buttons {
    display: block;
    
}
.form__buttons button {
    width: 100%;
    margin-bottom: 10px;
}
.nav_container {
    position: absolute;
    top: 50%;
    height: 278px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
* {
    outline: none;
    box-shadow: none;
}