.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal__content {
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    width: 400px;
    transition: 0.5s;
    transform: scale(0.5);
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content.active {
    transform: scale(1);
}

.modal__upload--header h2 {
    text-align: center;
}

.progress {
    width: 100%;
    height: 30px;
    font-size: 14px;
}
.uploadfile__avatar {
    width: 220px!important;
    height: 220px!important;
    display: flex!important;
    border-radius: 50%!important;
    margin: 0 auto!important;
    padding: 10px!important;
}

.inputFileBtn input {
    width: 100%;
    height: 100%;
    padding: 0;
    opacity: 0;
    user-select: none;
    cursor: pointer;
}
.inputFileBtn::-webkit-file-upload-button {
    visibility: hidden;
    user-select: none;
}
.inputFileBtn span {
    display: block;
    margin-top: -30px;
}