body {
    background-color: #F2F2F2;
}
.nav, .tab-pane {
    background-color: white;
}
.profile__info {
    margin-top: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: white;
    width: 100%;
    height: 400px;
    padding: 10px;
}